body {
  background-color: #f9f9f9;
}
* {
  box-sizing: border-box;
}
nav {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  --bs-emphasis-color-rgb: (250, 250, 250);
  .navbar-brand {
    font-size: 28px;
    font-weight: 600;
  }
  .nav-link {
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-toggler-icon {
    --bs-emphasis-color-rgb: (250, 250, 250);
  }
}
#home {
  width: 100%;
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  h1 {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 60px;
    line-height: 86px;
  }

}
.nav-item{
  font-size: 16px;
  font-weight: 600;
}

.over-lay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  height: 100vh;
  width: 100%;
}

/* .mt-5{
    padding-top: 1rem;
    padding-bottom: 4rem;
} */
.shadow-lg {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

h5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}
.title{
  font-size: 18px;
  font-weight: 600;
  color: rgb(30, 30, 30);
}
.paragraph{
  font-size: 16px;
  font-weight: 400;
  color:rgb(78, 78, 78);
}

/* ############################## */
@media (max-width: 992px) {
  .col-md-6 {
    width: 100%;
  }
  .col-lg-6 p {
    margin-top: 4rem;
  }
}
/* ############################## */

#services {
  .line {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  .service-box .icon-circle {
    transition: 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 35px;
  }

  .icon-circle {
    height: 100px;
    width: 100px;
    font-size: 5rem;
    border-radius: 50%;
    line-height: 5px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 9px #0078ff;
  }
  .service-box .icon-circle i {
    line-height: 0;
    font-size: 3rem;
    padding: 3rem 2rem;
  }
  .service-content {
    padding-top: 20px;
    h2 {
      font-size: 22px;
      font-weight: 500;
      padding-top: 0.5rem;
    }
  }
  .mt-5 {
    box-sizing: border-box;
    padding: 2rem;
  }
  .service-box:hover .icon-circle {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 9px #cde1f8;
  }
  .bg-image {
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  
  .services-score {
    height: 400px;
  }
  .info p{
    font-size: 32px;
    font-weight: 400;
    
  }

  
  .ico-circle {
    height: 70px;
    width: 70px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #cde1f8;
    display: block;
  }
  
  .services-lay {
    background-color: rgba(0, 119, 255, 0.7);
  }
  
  @media (max-width: 992px) {
    .bg-image {
      background-attachment: local;
      background-size: auto;
    }
    .services-score {
      height: 1000px;
    }
  }
  
  
}

#work {
  .line {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  .work-img {
    overflow: hidden;
  }
  .img-fluid {
    transition: transform 1s;
  }
  .img-fluid:hover {
    transform: scale(1.3);
  }
  .w-title {
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
  }
  .w-more {
    font-size: 13px;
    font-weight: 400;
  }
  .w-ctegory {
    color: rgb(0, 120, 255);
  }
  .w-date {
    color: rgb(78, 78, 78);
  }
  .w-like {
    margin-top: 4.5rem;
    font-size: 2rem;
  }
  .col-sm-8 {
    margin-top: 3rem;
    margin-left: -2rem;
  }

  /* .row{
        padding-bottom: 2rem;
    } */

  .testimional {
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    height: 82vh;
  }
  .name{
    font-size: 2rem;
    font-weight: 400;
  }
  
  .carousel {
    margin-top: 9rem;
  }
  .carousel-indicators {
    margin-bottom: -2rem;
  }
  .work-overlay {
    background-color: rgba(0, 120, 255, 0.8);
    padding: 0;
    height: 100%;
    width: 100%;
  }
  @media (max-width: 992px) {
    .work-content .col-sm-8 {
      padding-right: 7rem;
      margin-top: 1rem;
      margin-left: -2rem;
    }
    .col-sm-4 {
      padding-left: 15rem;
      margin-bottom: 0rem;
      padding-bottom: 2rem;
    }
    .name{
      font-size: 1rem;
      font-weight: 400;
    }

  }
}
#blog {
  .line {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  .card-title{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
  }
  .card-title a {
    color: black;
    transition: 0.5s;
  }
  .card-title a:hover {
    color: #0078ff;
  }
  .card-body {
    position: relative;
  }
  .card-body .category {
    background-color: #0078ff;
    text-align: center;
    width: 25%;
    color: #fff;
    display: inline-block;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    padding: 10px 0px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    top: -16px;
    left: 150px;
    right: 15px;
  }
  .post-author .author {
    color: black;
    transition: 0.5s;
  }
  .post-author .author:hover {
    color: #0078ff;
  }
  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
  }
  @media (max-width: 992px) {
    .card-body .category {
      left: 8.5rem;
    }
  }
}

#contact {
  height: 750px;
  &.cont-bg {
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .cont-overlay {
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 120, 255, 0.7);
  }

  .col-md-12 .button {
    background-color: #0078ff;
    padding: 4rem;
    color: white;
    border: transparent;
    box-shadow: 0 0 0 3px #0078ff;
    transition: 0.5s;
  }
  .col-md-12 .button:hover {
    background-color: #3393ff;

    box-shadow: 0 0 0 3px #cde1f8;
  }

  ul {
    list-style-type: none;
    padding-left: 0rem;
  }
  .list-icon i {
    color: rgb(0, 120, 255);
    margin-right: 0.5rem;
  }
  .socials {
    a {
      text-decoration: none;
    }
    .icon-circle {
      height: 40px;
      width: 40px;
      font-size: 1.2rem;
      border-radius: 50%;
      line-height: 1.6;
      margin: 0 15px 0 0;
      box-shadow: 0 0 0 3px #0078ff;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      transition: 0.5s;
    }
    .icon-circle:hover {
      background-color: #0078ff;
      box-shadow: 0 0 0 3px #cde1f8;
      color: #f9f9f9;
    }
  }
}

.bg-footer {
  background-color: #0062d3;
  text-align: center;
}

.w-70 {
  width: 70%;
  margin: auto;
}



/* Animation */
.animation::before{
  content: "";
  font-size: 40px;
  font-weight: 600;
  animation: typing 8s infinite;
}
@keyframes typing {
  0% {
    content: "";
  }

  1% {
    content: "d";
  }

  2% {
    content: "de";
  }

  3% {
    content: "des";
  }

  4% {
    content: "desi";
  }

  5% {
    content: "desig";
  }

  6% {
    content: "design";
  }

  7% {
    content: "designe";
  }

  8% {
    content: "designer";
  }

  9% {
    content: "designer";
  }

  10% {
    content: "designer";
  }

  11% {
    content: "designer";
  }

  12% {
    content: "designer";
  }

  13% {
    content: "designer";
  }

  14% {
    content: "design";
  }

  15% {
    content: "desig";
  }

  16% {
    content: "desi";
  }

  17% {
    content: "des";
  }

  18% {
    content: "de";
  }

  19% {
    content: "d";
  }

  20% {
    content: "";
  }

  21% {
    content: "d";
  }

  22% {
    content: "de";
  }

  23% {
    content: "dev";
  }

  24% {
    content: "deve";
  }

  25% {
    content: "devel";
  }

  26% {
    content: "develo";
  }

  27% {
    content: "develop";
  }

  28% {
    content: "develope";
  }

  29% {
    content: "developer";
  }

  30% {
    content: "developer";
  }

  31% {
    content: "developer";
  }

  32% {
    content: "developer";
  }

  33% {
    content: "developer";
  }

  34% {
    content: "developer";
  }

  35% {
    content: "develop";
  }

  36% {
    content: "develo";
  }

  37% {
    content: "devel";
  }

  38% {
    content: "deve";
  }

  39% {
    content: "dev";
  }

  40% {
    content: "de";
  }

  41% {
    content: "d";
  }

  42% {
    content: "";
  }

  43% {
    content: "F";
  }

  44% {
    content: "Fr";
  }

  45% {
    content: "Fre";
  }

  46% {
    content: "Free";
  }

  47% {
    content: "Freel";
  }

  48% {
    content: "Freela";
  }

  49% {
    content: "Freelan";
  }

  50% {
    content: "Freelanc";
  }

  51% {
    content: "Freelance";
  }

  52% {
    content: "Freelancer";
  }

  53% {
    content: "Freelancer";
  }

  54% {
    content: "Freelancer";
  }

  55% {
    content: "Freelancer";
  }

  56% {
    content: "Freelancer";
  }

  57% {
    content: "Freelancer";
  }

  58% {
    content: "Freelance";
  }

  59% {
    content: "Freelanc";
  }

  60% {
    content: "Freelan";
  }

  61% {
    content: "Freela";
  }

  62% {
    content: "Freel";
  }

  63% {
    content: "Free";
  }

  64% {
    content: "Fre";
  }

  65% {
    content: "Fr";
  }

  66% {
    content: "F";
  }

  67% {
    content: "";
  }

  68% {
    content: "P";
  }

  69% {
    content: "Ph";
  }

  70% {
    content: "Pho";
  }

  71% {
    content: "Phot";
  }

  72% {
    content: "Photo";
  }

  73% {
    content: "Photog";
  }

  74% {
    content: "Photogr";
  }

  75% {
    content: "Photogra";
  }

  76% {
    content: "Photograp";
  }

  77% {
    content: "Photograph";
  }

  78% {
    content: "Photographe";
  }

  79% {
    content: "Photographer";
  }

  80% {
    content: "Photographer";
  }

  81% {
    content: "Photographer";
  }

  82% {
    content: "Photographer";
  }

  83% {
    content: "Photographer";
  }

  84% {
    content: "Photographer";
  }

  85% {
    content: "Photographe";
  }

  86% {
    content: "Photograph";
  }

  87% {
    content: "Photograp";
  }

  88% {
    content: "Photogra";
  }

  89% {
    content: "Photogr";
  }

  90% {
    content: "Photog";
  }

  91% {
    content: "Photo";
  }

  92% {
    content: "Phot";
  }

  93% {
    content: "Pho";
  }

  94% {
    content: "Ph";
  }

  95% {
    content: "P";
  }

}

.size40{
  font-size: 40px;

}


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0078ff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}